{%- set fuse_info = fuse_running.stdout -%}

{%- if fuse_info is defined -%}
    {%- if 'fuse' in fuse_info  -%}
        {%- set fuse_state = "Fuse Installed" -%}
    {%- else -%}
        {%- set fuse_state = "Fuse Not Installed" -%}
    {%- endif -%}
    {{ fuse_state }}
{%- endif %}
